{{>head}}
    {{>navbar}}
    <div class="row p-2">
        <div class="col-8">
        <p>En el año de 1989, Gobierno Federal inició un importante programa de evaluación y mejoramiento en la educación superior, que incluía a todas las universidades públicas e instituciones estatales, y al que podían sumarse las instituciones privadas que lo desearan.</p>
        <p>El Plan Nacional de Desarrollo 89-94, señalaba la necesidad de ampliar las opciones de educación superior, estimulando a los profesionistas para que aplicaran los avances científicos y tecnológicos a los requerimientos del sector productivo regional y nacional, por lo que se buscó una modalidad de educación superior que permitiera a sus egresados incorporarse al ámbito laboral en menor tiempo, manteniendo la calidad educativa.</p>
        <p>Así pues, la Secretaría de Educación Pública, analizó experiencias similares en los países con mayor crecimiento económico, como: Technical College en EUA; Semangokko en Japón; Facchoschülen en Alemania; Institute Universitaire de Technologie en Francia y Polytechnic en Gran Bretaña. Como resultado de esos estudios, en el año 1991, nació el modelo educativo de las Universidades Tecnológicas, dentro del marco normativo y de política sectorial señalados tanto por el Plan Nacional de Desarrollo, como por el Programa de Modernización Educativa 1989-1994.</p>
        <p>El estudio de factibilidad para la creación de la Universidad Tecnológica de Aguascalientes, se realizó de febrero a agosto de 1991, y los cursos iniciaron en septiembre del mismo año, en instalaciones provisionales habilitadas para tal fin por el Gobierno del Estado. A lo largo de su historia, la institución ha incrementado su oferta educativa, en una búsqueda constante por satisfacer la demanda del entorno y colaborar con el desarrollo económico del estado y el país.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/logo.jpg" >
        </div> 
    </div>
    {{>footer}}